In [1]:
import numpy as np
import pandas as pd

In [34]:
raw=pd.read_csv('spamham.csv')

In [35]:
raw.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [36]:
raw['Category']= raw['Category'].apply(lambda a : 0 if a=='spam' else 1)

In [37]:
raw

      Category                                            Message
0            1  Go until jurong point, crazy.. Available only ...
1            1                      Ok lar... Joking wif u oni...
2            0  Free entry in 2 a wkly comp to win FA Cup fina...
3            1  U dun say so early hor... U c already then say...
4            1  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         0  This is the 2nd time we have tried 2 contact u...
5568         1               Will ü b going to esplanade fr home?
5569         1  Pity, * was in mood for that. So...any other s...
5570         1  The guy did some bitching but I acted like i'd...
5571         1                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [41]:
raw['Category'].value_counts()

1    4825
0     747
Name: Category, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split,GridSearchCV

In [88]:
x=raw['Message']
y=raw['Category']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)
y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [89]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [142]:
tfidf=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [143]:
x_trainft=tfidf.fit_transform(x_train)

In [162]:
x_testft=tfidf.transform(x_test)

In [145]:
from sklearn.svm import LinearSVC

In [146]:
ls=LinearSVC()

In [147]:
ls.fit(x_trainft,y_train)

LinearSVC()

In [148]:
x_trainft

<3900x7001 sparse matrix of type '<class 'numpy.float64'>'
	with 30846 stored elements in Compressed Sparse Row format>

In [149]:
ls.predict(x_trainft)

array([1, 1, 0, ..., 1, 0, 1])

In [152]:
pred=ls.predict(x_testft)

In [153]:
from sklearn.metrics import accuracy_score

In [156]:
accuracy_score(y_test,pred)

0.9820574162679426

In [167]:
ls.predict(tfidf.transform(['hello']))

array([1])